/*GENERICI*/
:root {
  font-size: 16px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "he he"
    "as na"
    "as ma"
    "as fo";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 69px 60px 1fr 88px;
}

body > header {
  grid-area: he;
}
body > aside {
  grid-area: as;
  background-color: blue;
}
body > nav {
  grid-area: na;
  background-color: yellow;
}
body > main {
  grid-area: ma;
}
body > footer {
  grid-area: fo;
  background-color: magenta;
}

/*HEADER*/
body > header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 1px solid lightgray;
}

body > header > section {
  display: flex;
  align-items: center;
}
.logo-section,
.btn-section {
  gap: 1.5rem;
}
.btn-section > button {
  background-color: transparent;
  border: 3px solid #74cc1d;
  border-radius: 1.5rem;
  font-size: 14px;
  padding: 0.7rem 1rem;
  outline: none;
}
#sign-in-btn {
  border: none;
}

.search-bar-section > input {
  height: 33px;
  border: 1px solid lightgray;
  border-right: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.4rem 0.4rem;
  width: 30vw;
}

.search-bar-section > button {
  height: 33px;
  background-color: transparent;
  border: 1px solid lightgray;
  border-left: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.4rem 0.4rem;
}
.search-bar-section > button > img {
  height: 100%;
}
/*ASIDE*/

/*MAIN*/

.top-main {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding: 2rem 2rem;
  background-color: #e9ebee;
  border-bottom: 1px solid lightgrey;
}
.main-img > img {
  border-radius: 1rem;
}
.main-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0 2.5rem;
}
.main-text > h4 {
  color: darkgray;
  font-weight: 200;
}
.main-text > h3 {
  font-size: 22px;
}
.profile {
  display: flex;
  gap: 0.5rem;
}
.secondary-text > p {
  font-size: 13px;
}
.profile > div > img {
  border-radius: 50%;
}

/*FOOTER*/

/*---------------------*/
/*MEDIA QUERIES*/
/*---------------------*/
@media screen and (max-width: 960px) @media screen and (max-width: 640px);
