:root {
  font-size: 16px;
  font-family: sans-serif;
  --bgc-primary: #f4f4f4;
  --bgc-secondary: #8b98a2;
  --custom-green: #74cc1d;
  --text-primary: #000000;
  --font-size-l: 22px;
  --font-size-m: 14px;
  --font-size-S: 12px;
  --font-size-xs: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "he he"
    "as na"
    "as ma"
    "as fo";
  grid-template-columns: 80px 1fr;
  grid-template-rows: 69px 60px 1fr 88px;
}
/*GENERICI*/

body > header {
  grid-area: he;
}
body > aside {
  grid-area: as;
}
body > nav {
  grid-area: na;
}
body > main {
  grid-area: ma;
  background-color: #e4e4e8;
}
body > footer {
  grid-area: fo;
}
a {
  text-decoration: none;
  color: var(--text-primary);
}
body {
  overflow: auto;
  transition: 0.5;
}
.title-btn-container {
  display: flex;
  justify-content: space-between;
}
.title-btn-container > button {
  background-color: transparent;
  border: 1px solid var(--custom-green);
  border-radius: 1.5rem;
  font-size: var(--font-size-m);
  padding: 0.5rem 0.8rem;
  outline: none;
}
.title-btn-container > button:hover {
  background-color: var(--custom-green);
}
#sign-in-btn:hover {
  background-color: var(--bgc-primary);
  cursor: pointer;
}
#sign-up-btn:hover {
  background-color: var(--bgc-primary);
  cursor: pointer;
}
.text-container > strong {
  font-size: var(--font-size-m);
}
.text-container > p {
  font-size: var(--font-size-S);
  font-weight: 200;
  color: hsl(0, 2%, 42%);
}
aside {
  overflow: auto; /*Si applicava finché non ho tolto overflow al main per metterlo al body.*/
  border-right: 1px solid lightgray;
}

aside::-webkit-scrollbar {
  visibility: hidden;
}
.aside-titles {
  font-size: var(--font-size-xs);
}

/*HEADER*/
body > header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 1px solid lightgray;
}

body > header > section {
  display: flex;
  align-items: center;
}
.logo-section,
.btn-section {
  gap: 1.5rem;
}
.btn-section > button {
  background-color: transparent;
  border: 3px solid var(--custom-green);
  border-radius: 1.5rem;
  font-size: var(--font-size-m);
  padding: 0.7rem 1rem;
  outline: none;
}
#sign-in-btn {
  border: none;
}

.search-bar-section > input {
  height: 33px;
  border: 1px solid lightgrey;
  border-right: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.4rem 0.4rem;
  width: 30vw;
}

.search-bar-section > button {
  height: 33px;
  background-color: transparent;
  border: 1px solid lightgray;
  border-left: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.4rem 0.4rem;
}
.search-bar-section > button > img {
  height: 100%;
}
/*ASIDE*/

.aside-top,
.featured-container,
.theme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-xs);
  gap: 1.5rem;
  list-style-type: none;
  padding: 1.5rem;
}
.featured-img > img {
  border-radius: 50%;
}
.featured-container {
  padding: 2rem 0.5rem;
  gap: 0.5rem;
}
.theme-container {
  text-align: center;
  gap: 1.5rem;
  font-size: var(--font-size-xs);
  padding: 1rem 0;
}

/*NAV*/
nav {
  overflow: auto; /*Non si applica*/
}
.nav-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.nav-container > section > span {
  background-color: var(--bgc-primary);
  border-radius: 1.5rem;
  padding: 0.5rem;
  font-size: var(--font-size-m);
}
.nav-container > section > span:hover {
  background-color: var(--bgc-secondary);
  cursor: pointer;
}

/*MAIN*/
main {
  /*overflow: auto;*/
}
.top-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;
  background-color: var(--bgc-primary);
  border-bottom: 1px solid lightgrey;
}

.main-img > img {
  border-radius: 1rem;
}
.main-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0 2.5rem;
}
.main-text > h4 {
  color: var(--bgc-secondary);
  font-weight: 200;
}
.main-text > h3 {
  font-size: var(--font-size-l);
}
.profile {
  display: flex;
  gap: 0.5rem;
}
.secondary-text > p {
  font-size: 13px;
}
.profile > div > img {
  border-radius: 50%;
}

.video-row {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}
.img-container > img {
  border-radius: 0.5rem;
}
.title-btn-container {
  padding: 1rem;
}

/*FOOTER*/

body > footer {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

body > footer > section {
  display: flex;
  align-items: center;
}

.about-us,
.terms {
  gap: 1.5rem;
}

.about-us {
  font-size: var(--font-size-m);
  font-weight: 500;
  padding-left: 3.5rem;
}
.terms,
.copyright {
  font-size: var(--font-size-S);
}

.terms > a:hover {
  text-decoration: underline;
}
.about-us > a:hover {
  text-decoration: underline;
}
.copyright {
  color: var(--bgc-secondary);
}
/*---------------------*/
/*MEDIA QUERIES*/
/*---------------------*/

@media screen and (max-width: 960px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "he"
      "na"
      "ma"
      "fo";
  }
  body > aside {
    display: none;
  }
  .tablet-hide {
    display: none;
  }
  body > footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
  }
}
@media screen and (max-width: 640px) {
  body {
    grid-template-columns: 1fr;
  }
  .search-bar-section > input {
    display: none;
  }
  .search-bar-section > button {
    margin-left: 150px; /*Usato perché "margin-left:auto" non dava risultati*/
    border: none;
  }
  .top-main {
    flex-direction: column;
  }
  .smartphone-hide {
    display: none;
  }
}
